@model Blog

@{
    Layout = "_DashBoard";
}



<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Edit Blog</span>
        </div>

        <div>
            <form method="post" asp-action="EditBlog" class="row">
                 <div class="mb-3">
                    <label asp-for="Title" for="" class="form-label"> Blog Title </label>
                    <input type="text"
                           asp-for="Title"
                           value="@Model.Title"
                           class="form-control"
                           placeholder="" />

                </div>

                <div class="mb-3">
                    <label asp-for="Name" for="" class="form-label">Author Name</label>
                    <input type="text"
                           asp-for="Name"
                           value="@Model.Name"
                           class="form-control"
                           placeholder="" />

                </div>





                <div class="mb-3">
                    <label asp-for="Description" for="" class="form-label">Blog Description</label>
                    <textarea type="text"
                              asp-for="Description"
                              class="form-control"
                              placeholder="">
                        @Model.Description
                          </textarea>
                </div>



                


               
                <div class="mb-3 col-lg-12 d-flex align-items-center mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="enablsize" value="@Model.enablsize" />

                        <label class="form-check-label" asp-for="enablsize" for=""> Enable Product Size </label>

                    </div>


                </div>

                <div class="mb-3 col-lg-6">
                    <label asp-for="type.Id" for="" class="form-label">Type</label>
                    <select class="form-select "
                            asp-for="type.Id">
                        if (@Model.type.Id==1){
                        <option >Select one</option>
                        <option selected value="1">Comedy</option>
                        <option value="2">Business</option>
                        <option value="3">Personal</option>
                        }
                        else if (@Model.type.Id==2){
                        <option>Select one</option>
                        <option  value="1">Comedy</option>
                        <option selected value="2">Business</option>
                        <option value="3">Personal</option>
                        }
                        else  if (@Model.type.Id==3){
                        <option>Select one</option>
                        <option value="1">Comedy</option>
                        <option  value="2">Business</option>
                        <option selected value="3">Personal</option>
                        
                        }
                        else {
                        <option selected>Select one</option>
                        <option value="1">Comedy</option>
                        <option  value="2">Business</option>
                        <option  value="3">Personal</option>


                        }


                    </select>
                </div>



                <div class="col-lg-12 d-flex justify-content-center  ">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>

        </div>
    </div>

